---
title: Brew the perfect coffee | Can We
intro: false
---

<article class="article">
  
  <header class="article__header">
    <h1 class="article__title">Brew the<br />perfect coffee</h1>
  
    <p class="article__intro centered-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu.</p>

    <div class="article__sharing">

    </div>

    <div class="article__intro-video block__video">
      <!-- Vimeo video -->
    </div>

  </header>

  <section class="block block--video block--no-bottom-border">
    
    <h2 class="block__title">Step by step guide</h2>

    <div class="block__video">
      <!-- Vimeo video -->
    </div>

  </section>

  <section class="block block--questions">

    <header class="block__header questions__intro text__content">

      <h2 class="block__title">Firstname Surname <span>Jobtitle, 2013</span></h2>
      
      <p class="centered-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu.</p>
    
    </header>

    <%= image_tag "walken.jpg", class: "block__image questions__intro-image with-block-top-margin" %>

    <div class="questions__content l-columns">

      <div class="l-column l-column--span-six questions__content--first-col">
        <h2>Question</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h2>Question</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="l-column l-column--span-six questions__content--last-col">
        <h2>Question</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h2>Question</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

    </div>

    <blockquote class="questions__breakout">
      “Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Aenean sed blandit massa. Fusce facilisis suscipit risus, 
id scelerisque sapien luctus ac.”
    </blockquote>

    <div class="questions__content l-columns">

      <div class="l-column l-column--span-six questions__content--first-col">
        <h2>Question</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h2>Question</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="l-column l-column--span-six questions__content--last-col">
        <h2>Question</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h2>Question</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

    </div>

  </section>

  <section class="block block--equipment">
    
    <h2 class="block__title">The equipment</h2>

    <div class="equipment-used l-columns with-block-top-margin">

      <div class="equipment l-column l-column--span-six">
        <img src="" class="equipment__image">

        <div class="equipment__content">
          <h3 class="equipment__title">Equipment title</h3>

          <p class="equipment__info">
            Price £19.99.<br>
            Retailer <a href="#" class="equipment__purchase-link">Buy here</a>
          </p>
        </div>

      </div>

      <div class="equipment l-column l-column--span-six">
        <img src="" class="equipment__image">

        <div class="equipment__content">
          <h3 class="equipment__title">Equipment title</h3>

          <p class="equipment__info">
            Price £19.99.<br>
            Retailer <a href="#" class="equipment__purchase-link">Buy here</a>
          </p>
        </div>

      </div>

      <div class="equipment l-column l-column--span-six">
        <img src="" class="equipment__image">

        <div class="equipment__content">
          <h3 class="equipment__title">Equipment title</h3>

          <p class="equipment__info">
            Price £19.99.<br>
            Retailer <a href="#" class="equipment__purchase-link">Buy here</a>
          </p>
        </div>

      </div>

      <div class="equipment l-column l-column--span-six">
        <img src="" class="equipment__image">

        <div class="equipment__content">
          <h3 class="equipment__title">Equipment title</h3>

          <p class="equipment__info">
            Price £19.99.<br>
            Retailer <a href="#" class="equipment__purchase-link">Buy here</a>
          </p>
        </div>

      </div>

    </div>

  </section>

  <section class="block block--gallery block--full-width">

    <h2 class="block__title">On the day</h2>

    <div class="gallery-content with-block-top-margin">
      <div class="gallery-content__inner">
        <%= image_tag "walken.jpg", class: "gallery__item" %>
        <%= image_tag "walken.jpg", class: "gallery__item" %>
        <%= image_tag "walken.jpg", class: "gallery__item" %>
        <%= image_tag "walken.jpg", class: "gallery__item" %>
      </div>
    </div>

  </section>

  <section class="block block--text block--top-border with-block-top-margin block--bottom-padding">
    <h2 class="block__title">Thanks to</h2>

    <div class="text__content with-block-top-margin">
      <h3 class="block__title">Person / Business</h3>

      <p class="centered-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu.</p>
    </div>

    <div class="text__content with-block-top-margin">
      <h3 class="block__title">Person / Business</h3>

      <p class="centered-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu.</p>
    </div>

  </section>

  <section class="block block--comments block--full-width block--no-bottom-border block--bottom-padding">
    <h2 class="block__title">Comments</h2>
  </section>
</article>
